<!-- ###TEMPLATE_PUB### begin -->
	<!-- ###TEMPLATE_PUB_GROUP_TYPE### begin -->
    <div class="subheader">###TEMPLATE_PUB_TYPE###</div>
    	<!-- ###TEMPLATE_PUB_ITEM### begin -->
		<div style="margin-bottom:1em;">
			<div class="authors">###TEMPLATE_PUB_AUTHORS###</div>
			<div class="title"><strong>###TEMPLATE_PUB_TITLE###</strong></div>
			<div>###TEMPLATE_PUB_CONFERENCE### <span class="links">###TMPL_PUB_LINKS###</span></div>
		</div>
		<!-- ###TEMPLATE_PUB_ITEM### end -->
    <!-- ###TEMPLATE_PUB_GROUP_TYPE### end -->
<!-- ###TEMPLATE_PUB### end -->