<!-- ###TEMPLATE_PUB### begin -->
        <!-- ###TEMPLATE_PUB_GROUP_YEAR### begin -->
        <div class="shadow-container2" style="margin-bottom:30px;">
        	<div class="heading">###TEMPLATE_PUB_YEAR### (###TEMPLATE_PUB_NUM###)</div>
            <div class="container">
            	<!-- ###TEMPLATE_PUB_GROUP_TYPE### begin -->
                <div class="subheading">###TEMPLATE_PUB_TYPE###</div>
                    <!-- ###TEMPLATE_PUB_ITEM### begin -->
					<div style="margin-bottom:1em;">
						<div class="authors">###TEMPLATE_PUB_AUTHORS###</div>
						<div class="title"><strong>###TEMPLATE_PUB_TITLE###</strong></div>
						<div>
							###TEMPLATE_PUB_CONFERENCE###
							<!-- <span class="eds">###TEMPLATE_PUB_EDITORIAL###</span> -->
							<span class="links">###TMPL_PUB_LINKS###</span>
						</div>
					</div>
					<!-- ###TEMPLATE_PUB_ITEM### end -->
                <!-- ###TEMPLATE_PUB_GROUP_TYPE### end -->
			</div>
 		</div>
        <!-- ###TEMPLATE_PUB_GROUP_YEAR### end -->
<!-- ###TEMPLATE_PUB### end -->
