<!-- ###TEMPLATE_PUB### begin -->
    	<!-- ###TEMPLATE_PUB_ITEM### begin -->
    	<div id="publications-###TEMPLATE_PUB_NR###" class="fade-box" ###TEMPLATE_PUB_DISPLAY###>
    		<p class="bodytext">
    			<span style="font-size:75%">###TEMPLATE_PUB_AUTHORS###:</span> <u>###TEMPLATE_PUB_TITLE###</u> <span style="font-size:75%">In: ###RECENT_MEDIA###</span>
    		</p>
    	</div>
		<!-- ###TEMPLATE_PUB_ITEM### end -->
 <!-- ###TEMPLATE_PUB### end -->